<h1>Listing articles</h1>
 
 <p> a litter modification from dev client</p>
 
 <p> second litter modification from dev client</p>
 
 <p> new modification in the dev branch</p>
 
 <p> new modification in the local dev branch </p>
 
<table>
  <tr>
    <th>edm id</th>
    <th>mail id</th>
    <th>time </th>
  </tr>
 
  <% @edmrecords.each do |edmrecord| %>
    <tr>
      <td><%= edmrecord.edmid %></td>
      <td><%= edmrecord.mailid %></td>
      <td><%= edmrecord.created_at.to_s(:long) %> </td>
    </tr>
  <% end %>
</table>
